/**
 * Header styles
 */
header {


	$height: 48px;
	background-color: $grey-900;
	height: $height;
	line-height: $height;
	-webkit-font-smoothing: subpixel-antialiased;

	ul {
		width: 100%;
		display: flex;
	}

	li {
		flex: 1;
	}

	a {
		-webkit-user-select: none;  /* Chrome all / Safari all */
		-moz-user-select: none;     /* Firefox all */
		-ms-user-select: none;      /* IE 10+ */
		user-select: none;

		-webkit-user-drag: none;

		display: block;
		height: $height;
		color: $secondary-text;
		font-size: 13px;
		font-weight: 500;
		text-transform: uppercase;
		text-decoration: none;
		text-align: center;
		letter-spacing: 0.5px;
		transition: background-color 150ms;

		&.active,
		&:hover {
			color: $primary-text;
		}

		&.active {
			border-bottom: solid 4px $soundcloud;
		}
	}
}
