/**
 * Header styles
 */
header {
  $height: 42px;
  background: rgba(0, 0, 0, .8);

  height: $height;
  line-height: $height;

  -webkit-font-smoothing: subpixel-antialiased;

  ul {
    width: 100%;
    display: flex;
  }

  li { flex: 1; }

  a {
    display: block;
    height: $height;

    color: rgba(255, 255, 255, .6);
    font-size: 13px;
    font-weight: 500;

    text-transform: uppercase;
    text-decoration: none;
    text-align: center;

    letter-spacing: 0.5px;

    &.active {
      color: #fff;
      border-bottom: solid 2px #f50;
    }
  }

}

