/**
 * Media Player
 */
.cumulus__media-player {
	width: 100%;
	height: auto;
	background-color: $white;
	transition: transform 300ms, height 300ms;

	.media-player__controls {
		position: relative;
		background-color: $white;

		.controls__play-pause-skip {
			display: flex;
			height: 32px;
			padding-top: 8px;

			.play-pause-skip__wrapper {
				margin: 0 auto;
			}

			&:after {
				@include clear-fix();
			}
		}

		button {
			border: none;
			background: none;
			cursor: pointer;
			font-size: 28px;
			padding: 0;
			color: $grey-700;
			width: 35px;
			vertical-align: middle;

			i.fi {
				background-color: $grey-700;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
			margin-left: 1px; // aligning to the pixel grid
		}

		button[disabled] i,
		button[disabled] i {
			background-image: none;
			background-color: $grey-300;
		}

		.controls__actions {
			position: absolute;
			right: 5px;
			margin-top: 8px;
		}

		.icon__toggle,
		.meta__favorite,
		.meta__settings {
			font-size: 16px;
		}

		.meta__favorite i.fi {
			background-color: $grey-300;

			&.active {
				background-color: $soundcloud;
			}
		}

		.controls__next,
		.controls__previous {
			font-size: 21px;
			padding: 5px;
		}

		.controls__timeline {
			$timelineHeight: 28px;
			display: flex;
			padding: 0 10px;
			height: $timelineHeight;
			line-height: $timelineHeight;
		}
	}

	.media-player__cover {
		width: 100%;
		height: 150px;
		position: relative;
		background-size: cover;
		background-position: center center;
		transition: height 300ms;

		&.hidden {
			height: 0;
		}
	}

	.media-player__waveform {
		position: absolute;
		width: 100%;
		opacity: 0.85;
		height: 32px;
		bottom: 0;
	}
}

.cumulus__media-player.hidden {
	height: 0;
}

.controls__volume {
	display: flex;
	width: 22.5%;
	height: 28px;
	line-height: 28px;
	position: absolute;
	left: 10px;
	transition: all 150ms;

	.volume__seeker {
		transition: all 150ms;
		opacity: 0;
	}

	&:hover {
		width: 25%;

		.volume__seeker {
			opacity: 1;
		}
	}
}

.volume__icon button.icon__toggle {
	width: initial;
	margin: 0;
}

.volume__seeker {
	line-height: 25px;

	input[type=range] {
		-webkit-appearance: none;
		width: 100%;
	}

	input[type=range]:focus {
		outline: none;
	}

	input[type=range]::-webkit-slider-runnable-track {
		width: 100%;
		height: 2px;
		cursor: pointer;
		background: $soundcloud;
		border-radius: 1.3px;
	}

	input[type=range]::-webkit-slider-thumb {
		height: 12px;
		width: 12px;
		border-radius: 12px;
		background: $soundcloud;
		cursor: pointer;
		-webkit-appearance: none;
		margin-top: -5.2px;
	}
}

.controls__timeline .timeline__current,
.controls__timeline .timeline__duration,
.controls__volume .volume__value {
	font-size: 11px;
	width: auto;
	text-align: center;
	cursor: default;
	color: $grey-700;
	-webkit-user-select: none;
}

.controls__timeline .timeline__seeker,
.controls__volume .volume__seeker {
	width: 100%;
	height: 100%;
	padding: 0 15px;
	flex: 1;
}

.controls__volume .volume__seeker {
	padding: 0 0 0 5px;
}

.timeline__seeker .seeker__wrapper {
	position: relative;
	padding: 10px 0;
	height: 10px;
	top: 50%;
	margin-top: -10px;
	cursor: pointer;
}

.timeline__seeker .seeker__progress-bar {
	-webkit-appearance: none;
	position: absolute;
	width: 100%;
	height: 2px;
}

.seeker__progress-bar::-webkit-progress-bar {
	background-color: rgba($grey-300, .85);
}

.seeker__progress-bar::-webkit-progress-value {
	background-color: $soundcloud;
	transition: all 200ms;
}

.seeker__progress-bar::-webkit-progress-value::after {
	content: '';
	position: relative;
	width: 2px;
	height: 12px;
	margin-left: -1px;
	margin-top: -5px;
	float: right;
	background-color: $soundcloud;
	cursor: pointer;
}

.media-player__controls .controls__next,
.media-player__controls .controls__previous {}

.media-player__meta {
	font-size: 13px;
	color: $white;
	padding: 10px;

	.meta__artist,
	.meta__title {
		cursor: pointer;
	}

	.meta__title {
		margin-top: -1px;
	}

	> div {
		max-width: 100%;
		@include truncate();
		display: block;

		> span {
			background-color: rgba($black, .9);
			padding: 4px 6px;
			line-height: 25px;
			-webkit-font-smoothing: initial;
		}
	}
}
