/**
 * Media Player
 */
.cumulus__media-player {
  position: fixed;
  bottom: 0;

  width: 100%;

  background: #fff;

  background-color: #f2f2f2;
  // border-top: 1px solid rgba(0, 0, 0, .15);
  height: auto;

  transition: transform 300ms;
  transform: translateY(0);

  z-index: 999;

  .media-player__controls {
    position: relative;

    .controls__play-pause-skip {
      display: flex;
      height: 24px;

      .play-pause-skip__wrapper { margin: 0 auto; }

      &:after { @include clear-fix(); }
    }

    button {
      border: none;
      background: none;

      cursor: pointer;

      font-size: 28px;
      padding: 0;

      color: #555;

      width: 35px;
      vertical-align: middle;
    }

    .controls__next,
    .controls__previous {
      font-size: 21px;
    }

    .controls__timeline {
      $timelineHeight: 32px;
      display: flex;
      padding: 0 10px;

      height: $timelineHeight;
      line-height: $timelineHeight;
    }

  }

  .media-player__cover {
    width: 100%;
    height: 150px;

    background-size: cover;
    background-position: center center;
  }

}

.cumulus__media-player.hidden {
  transform: translateY(100%);
}

.media-player__controls button:focus {
  outline: none;
}

.controls__timeline .timeline__current,
.controls__timeline .timeline__duration {
  font-size: 11px;

  width: 46px;
  text-align: center;
  cursor: default;

  -webkit-user-select: none;
}

.controls__timeline .timeline__seeker {
  width: 100%;
  height: 100%;

  padding: 0 15px;
}

.timeline__seeker .seeker__wrapper {
  position: relative;
  padding: 10px 0;

  height: 10px;
  top: 50%;

  margin-top: -10px;
  cursor: pointer;
}

.timeline__seeker .seeker__progress-bar {
  -webkit-appearance: none;
  position: absolute;

  width: 100%;
  height: 1px;
}

.seeker__progress-bar::-webkit-progress-bar {
  background-color: #C1C1C1;
}

.seeker__progress-bar::-webkit-progress-value {
  background-color: orangered;
  transition: all 250ms;
}

.seeker__progress-bar::-webkit-progress-value::after {
  content: '';
  position: relative;

  width: 9px;
  height: 9px;

  margin-left: -4.5px;
  margin-top: -4.5px;

  float: right;

  background-color: orangered;

  border-radius: 100%;
  cursor: pointer;
}

.media-player__controls .controls__previous,
.media-player__controls .controls__next {

}

.media-player__meta {
  font-size: 13px;
  color: #fff;
  padding: 10px;

  > div {
    max-width: 100%;
    @include truncate();

    display: block;

    > span {
      background-color: rgba(0, 0, 0, .9);
      padding: 4px 6px;
      line-height: 2em;
    }
  }
}