@import 'mixins';

* {
  box-sizing: border-box;
  @include no-selection();
}

html {
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;

  height: 100%;
  width: 100%;

  overflow: hidden;
  position: absolute;
}

i[data-icon] {
  font-style: normal !important;
}

.cumulusapp {
  display: flex;
  flex-direction: column;

  position: absolute;

  width: 100%;
  height: 100%;
}

.content__wrapper {
  height: 100%;
  width: 100%;

  overflow: scroll;
  flex: 1;

  position: initial !important;
}

.cumulus__media-player {
  position: initial !important;
}

@import 'griditem';
@import 'header';
@import 'listitem';
@import 'mediaplayer';
