@import 'mixins';

* {
  box-sizing: border-box;
  @include no-selection();
}

html {
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;

  height: 100%;
  width: 100%;

  overflow: hidden;
  position: absolute;
}

a:focus, button:focus {
  outline: 0;
}

i[data-icon] {
  font-style: normal !important;
}

.cumulusapp {
  display: flex;
  flex-direction: column;

  position: absolute;

  width: 100%;
  height: 100%;
}

.content__wrapper {
  height: 100%;
  width: 100%;

  overflow: scroll;
  flex: 1;

  position: relative;
}

/**
 * Views loading styles
 */
[class^=content__view] {

  &.loading {
    background-color: #fff;
    pointer-events: none;

    * { opacity: 0; }
  }

  &.loading::after {
    $loader-size: 100px;

    content: '';
    display: block;

    position: absolute;

    background-color: orangered;
    -webkit-mask: url('../assets/loader.svg') no-repeat 50% 50%;
    -webkit-mask-size: cover;

    width: $loader-size;
    height: $loader-size;

    left: 50%;
    top: 50%;

    margin-left: -$loader-size / 2;
    margin-top: -$loader-size / 2;
  }

}

.cumulus__media-player {
  position: initial !important;
}

@import 'griditem';
@import 'header';
@import 'listitem';
@import 'mediaplayer';
