@import 'mixins';

* {
  box-sizing: border-box;
  @include no-selection();
}

body {
  font-family: 'Helvetica', 'Arial', sans-serif;

  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
}

i[data-icon] {
  font-style: normal !important;
}

.cumulusapp {
  padding-bottom: 46px;
}

@import 'griditem';
@import 'header';
@import 'listitem';
@import 'mediaplayer';
