body {
  font-family: 'Helvetica', 'Arial', sans-serif;

  margin: 0;
  padding: 0;
}

/**
 * Header styles
 */
header {
}

header a.active {
  color: black;
  background: #ccc;
}

.grid-item {
  display: inline-block;
  overflow: hidden;

  max-width: 200px;
  margin: 30px 10px;
}

.grid-item .item__cover {
  position: relative;

  width: 200px;
  height: 200px;

  margin-bottom: 5px;
}

.item__cover img,
.item__cover .cover__overlay,
.item__cover .cover__overlay > * {
  position: absolute;
}

.grid-item .cover__overlay {
  width: 100%;
  height: 100%;

  background: rgba(0,0,0,.5);

  transition: all 150ms;
  opacity: 0;
}

.grid-item .cover__overlay:hover {
  opacity: 1;
}

.cover__overlay .overlay__play-pause {
  width: 100%;
  height: 100%;

  color: white;
  font-size: 48px;

  line-height: 200px;
  text-align: center;
}

.cover__overlay .overlay__play-pause.paused:after {
  content: '►';
}

.cover__overlay .overlay__play-pause:after {
  content: '❚❚';
}

.grid-item .title,
.grid-item .artist {
  display: block;
  overflow: hidden;

  max-width: 200px;

  white-space: nowrap;
  text-overflow: ellipsis;

  line-height: 1.5em;
  font-size: 14px;
}

.grid-item .title {
}

.grid-item .artist {
}

/**
 * Media Player
 */
.cumulus__media-player {
  position: fixed;
  bottom: 0;

  width: 100%;
  height: 46px;

  background: white;
}
