body {
  margin: 0;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;

  background: #F2F2F2;
  box-sizing: border-box;
}

a {
  color: #F90;
  text-decoration: none;
}

a:hover {
  color: #F30;
}

#intro {
  color: white;
  text-align: center;

  height: 70vh;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  display: -webkit-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;

  background-image: url('../images/header2.jpg');
  background-position: bottom center;
  background-size: cover;

  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

#intro h1 {
  font-weight: 600;
}

#intro p {
  font-size: 19px;
}

#intro hr {
  width: 100px;
}

#intro .button {
  color: white;
  text-shadow: none;
  border-color: white;

  -webkit-transition: background-color 250ms;

          transition: background-color 250ms;

  margin-right: 15px;
}

#intro .button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#screenshot {
  max-width: 100%;
}

#features {}

@media (min-width: 750px) {

  #features .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }

  #features .columns {
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
  }

}

#features .columns {
  padding: 30px 0;
}

#features p {
  color: #999;
}


footer {
  width: 100%;
  line-height: 48px;

  text-align: center;

  background: #FFF;
  color: #AAA;
}
